.author-section{
    background: #383838;
    border-top: 5px solid #fdd55e;

    .container{
        padding: 30px 0 40px;
        position: relative;

        .arrow-down{
            background-color: #fdd55e;
            border-radius: 50%;
            padding: 14px;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 0;
            right: 0;
            margin-inline: auto;
            top: -30px;
            // top: 300px;
        }
        h2{
            font-family: 'Nanum Myeongjo', serif;
            text-align: center;
            
            font-size: 9vw;
            color: #696969;
        }

        .author-content{
            display: flex;
            flex-direction: row;

            .bio{
                border-top: 3px solid #fdd55e;
                background-color: #333333;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 100px;
                color: white;
                width: 50%;
                text-align: center;

                h3{
                    color: #fdd55e;
                    font-family: 'Raleway', sans-serif;
                    font-size: 2vw;
                }

                a{
                    padding: 16px 29px;
                    border: 1px solid #fdd55e;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-radius: 5px;

                    &:hover{
                        background-color: #fdd55e;
                    }
                }
            }

            .author-img{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    margin: 0;
                    width: 250px;
                    box-shadow: -46px -34px 0px 18px #efe7d0;
                }
            }
        }
    }
}

.author-page{
    background: #383838;
    

    .container{
        text-align: center;
        padding: 100px 0;
        max-width: 1000px;

        img{
            width: 336px;
            max-width: 100%;
        }

        blockquote{
            font-size: 31px;
            font-style: italic;
            color: #eee;
        }

        hr{
            border-bottom: 1px solid #585858ee;
        }

        .two-column-grid{
            max-width: 1000px;
            margin-inline: auto;
            column-gap: 5%;

            .author-img{
                img{
                    width: 268px;
                    max-width: 100%;
                    border: 12px solid #292929;
                    box-shadow: 0px 3px 51px #333333;
                }
            }

            .author-content{
                p{
                    color: #eee;
                    text-align: justify;
                    line-height: 2rem;
                }

                h1{
                    font-family: 'Great Vibes', cursive;
                    text-shadow: 2px 13px 12px #252525;
                    text-align: right;
                    color: #eee;
                    font-weight: 200;
                }
            }
        }
    }
}